.custom-backdrop {
  background-color: rgba(0, 0, 0, 0.5); /* Darker backdrop */
  color: rgb(128, 4, 4);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
  height: 100vh;
}

.generate-report-modal {
  height: 100px;
}

.reports {
  background-color: #292929;
}

.form-group input, .select-group {
  width: 100%;
  padding: 10px;
  /* border: 1px solid #555; */
  border-radius: 25px;
  background-color: #1f1f1f;
  color: #fff;
  font-size: 1rem;
  box-shadow: inset 0 0 5px rgba(174, 20, 42, 0.5);
  /* overflow: hidden; */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure modal is on top of everything */
}

.modal-content {
  background-color: #292929;
  padding: 30px;
  border-radius: 20px;
  border-color: #810a1c;
  border-width: 1px;
  text-align: center;
  max-width: 850px;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.bg-red-horizon {
  background-color: #47030e; 
}

.parent {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.child {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.child::-webkit-scrollbar {
  width: 0; /* Hide the scrollbar width */
  background: transparent; /* Optional: Make the background transparent */
}

/* Inverts the color of the calendar icon from black to white */
input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
