<div class="status-container">
  <h2 class="text-2xl font-semibold mb-4">Service Status</h2>
  <div class="service-list space-y-4">
    <div class="service-item flex justify-between items-center" *ngFor="let service of serviceStatus | keyvalue">
      <div class="service-name text-lg font-medium">{{ service.key }}</div>
      <div
        [ngClass]="{
          'bg-green-500 text-white': service.value === 'Live',
          'bg-red-500 text-white': service.value === 'Down'
        }"
        class="service-status px-4 py-2 rounded-md"
      >
        {{ service.value }}
      </div>
    </div>
  </div>
</div>
