<nav class="bg-gray-800 text-white w-64 min-h-screen p-4 md:block hidden">
  <ul>
    <li>
      <a
        routerLink="/dashboard"
        routerLinkActive="active"
        class="block py-2 px-4 rounded hover:bg-gray-700"
        >Dashboard</a
      >
    </li>
    <li>
      <a
        routerLink="/map"
        routerLinkActive="active"
        class="block py-2 px-4 rounded hover:bg-gray-700"
        >Map</a
      >
    </li>
    <li>
      <a
        routerLink="/reports"
        routerLinkActive="active"
        class="block py-2 px-4 rounded hover:bg-gray-700"
        >Reports</a
      >
    </li>
    <li>
      <a
        routerLink="/settings"
        routerLinkActive="active"
        class="block py-2 px-4 rounded hover:bg-gray-700"
        >Settings</a
      >
    </li>
    <li>
      <a
        routerLink="/user-profile"
        routerLinkActive="active"
        class="block py-2 px-4 rounded hover:bg-gray-700"
        >Profile</a
      >
    </li>
  </ul>
</nav>
