<nav *ngIf="isVisible" 
     class="bg-black text-white w-64 min-h-screen p-4 fixed top-0 left-0 z-50 md:relative md:flex md:flex-col md:w-64 
     transition-transform transform md:translate-x-0"
     [class.translate-x-full]="!isVisible">
  
  <!-- Close button for mobile view -->
  <div class="md:hidden flex justify-end mb-8">
    <button (click)="closeSidebar()" class="text-white text-3xl">
      &#10005;
    </button>
  </div>

  <!-- BlacklineHorizon Text -->
  <div class="text-center mb-12 mt-16">
    <p class="text-white text-4xl font-bold">blackline</p>
    <p class="text-red-600 text-4xl font-bold">horizon</p>
  </div>

  <!-- Sidebar Links -->
  <ul class="space-y-4 mt-4">
    <li>
      <a 
        routerLink="/dashboard" 
        routerLinkActive="active" 
        class="flex items-center py-2 px-4 rounded hover:bg-[#ae142a] transition-all duration-300"
        (click)="closeSidebar()">
        <i class="fas fa-tachometer-alt text-[#ae142a] mr-3 transition-all duration-300 hover:text-white"></i> Dashboard
      </a>
    </li>
    <li>
      <a 
        routerLink="/map" 
        routerLinkActive="active" 
        class="flex items-center py-2 px-4 rounded hover:bg-[#ae142a] transition-all duration-300"
        (click)="closeSidebar()">
        <i class="fas fa-map-marker-alt text-[#ae142a] mr-3 transition-all duration-300 hover:text-white"></i> Map
      </a>
    </li>
    <li>
      <a 
        routerLink="/reports" 
        routerLinkActive="active" 
        class="flex items-center py-2 px-4 rounded hover:bg-[#ae142a] transition-all duration-300"
        (click)="closeSidebar()">
        <i class="fas fa-chart-line text-[#ae142a] mr-3 transition-all duration-300 hover:text-white"></i> Reports
      </a>
    </li>
  </ul>

  <!-- Spacing -->
  <div class="mt-12"></div>

  <!-- Profile Link -->
  <ul class="space-y-4 mt-4">
    <li>
      <a 
        routerLink="/user-profile" 
        routerLinkActive="active" 
        class="flex items-center py-2 px-4 rounded hover:bg-[#ae142a] transition-all duration-300"
        (click)="closeSidebar()">
        <i class="fas fa-user text-[#ae142a] mr-3 transition-all duration-300 hover:text-white"></i> Profile
      </a>
    </li>
  </ul>

  <!-- Settings at the bottom -->
  <ul class="mt-8">
    <li>
      <a 
        routerLink="/settings" 
        routerLinkActive="active" 
        class="flex items-center py-2 px-4 rounded hover:bg-[#ae142a] transition-all duration-300"
        (click)="closeSidebar()">
        <i class="fas fa-cogs text-[#ae142a] mr-3 transition-all duration-300 hover:text-white"></i> Settings
      </a>
    </li>
  </ul>
</nav>
