nav {
  background-color: #000000; /* Solid black background */
  transition: transform 0.3s ease-in-out;
}

.active {
  background-color: #ae142a;
}

.active i {
  color: white;
}

.translate-x-full {
  transform: translateX(100%);
}

@media (max-width: 767px) {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 1); /* Full opacity black background */
  }

  /* Close button */
  .md:hidden {
    display: block;
  }
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  font-size: 1.125rem;
  font-weight: 500;
  color: white;
  display: flex;
  align-items: center;
  padding: 0.75rem 1.25rem;
  border-radius: 0.375rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: all 0.3s ease;
}

a:hover {
  background-color: #ae142a;
  transition: background-color 0.3s ease;
}

a.router-link-active {
  background-color: #ae142a;
}

a i {
  color: #ae142a; /* Red color for the icons initially */
  margin-right: 0.75rem;
  transition: all 0.3s ease;
}

a:hover i {
  color: white; /* Change icon color to white on hover */
}

.font-body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

/* Additional styling for BlackLineHorizon text */
nav .text-center p {
  margin: 0;
  line-height: 1.2;
}

nav .text-white {
  color: white;
}

nav .text-red-600 {
  color: #ae142a;
}

/* Spacing between sections */
nav ul + ul {
  margin-top: 24px;
}
