<nav
  *ngIf="isVisible"
  class="
    fixed top-0 left-0 z-[9999]
    w-64 h-screen
    bg-black text-white
    p-4
    transform transition-transform
    overflow-y-auto
    md:translate-x-0
  "
  [class.translate-x-full]="!isVisible"
>

  <div class="md:hidden flex justify-end mb-8">
    <button (click)="closeSidebar()" class="text-white text-3xl">
      &#10005;
    </button>
  </div>


  <div class="text-center mb-12 mt-16">
    <p class="text-white text-4xl font-bold">blackline</p>
    <p class="text-red-600 text-4xl font-bold">horizon</p>
  </div>

 
  <ul class="space-y-4 mt-4 flex-grow">
    <li>
      <a
        routerLink="/dashboard"
        routerLinkActive="active"
        class="flex items-center py-2 px-4 rounded hover:bg-[#ae142a] transition-all duration-300"
        (click)="closeSidebar()"
      >
        <i
          class="fas fa-tachometer-alt text-[#ae142a] mr-3 text-xl 
                 transition-all duration-300 hover:text-white"
        ></i>
        Dashboard
      </a>
    </li>

    <li>
      <a
        routerLink="/map"
        routerLinkActive="active"
        class="flex items-center py-2 px-4 rounded hover:bg-[#ae142a] transition-all duration-300"
        (click)="closeSidebar()"
      >
        <i
          class="fas fa-map-marker-alt text-[#ae142a] mr-3 text-xl 
                 transition-all duration-300 hover:text-white"
        ></i>
        Map
      </a>
    </li>

    <li>
      <a
        routerLink="/reports"
        routerLinkActive="active"
        class="flex items-center py-2 px-4 rounded hover:bg-[#ae142a] transition-all duration-300"
        (click)="closeSidebar()"
      >
        <i
          class="fas fa-chart-line text-[#ae142a] mr-3 text-xl 
                 transition-all duration-300 hover:text-white"
        ></i>
        Reports
      </a>
    </li>

    <li>
      <a
        routerLink="/user-profile"
        routerLinkActive="active"
        class="flex items-center py-2 px-4 rounded hover:bg-[#ae142a] transition-all duration-300"
        (click)="closeSidebar()"
      >
        <i
          class="fas fa-user text-[#ae142a] mr-3 text-xl 
                 transition-all duration-300 hover:text-white"
        ></i>
        Profile
      </a>
    </li>


    <li class="md:hidden">
      <a
        (click)="logout()"
        class="flex items-center py-2 px-4 rounded hover:bg-[#ae142a] transition-all duration-300"
      >
        <i
          class="fas fa-sign-out-alt text-[#ae142a] mr-3 text-xl 
                 transition-all duration-300 hover:text-white"
        ></i>
        Logout
      </a>
    </li>
  </ul>

 
  <button
    *ngIf="!isMobile"
    (click)="logout()"
    class="flex items-center py-2 px-4 rounded hover:bg-[#ae142a] 
           transition-all duration-300 mt-auto group"
  >
    <i
      class="fas fa-sign-out-alt text-[#ae142a] mr-3 text-xl 
             transition-all duration-300 group-hover:text-white"
    ></i>
    LOGOUT
  </button>
</nav>
